<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>502307153628-bq614knlqqqlam1ahpso341dj19cn6ae.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.502307153628-bq614knlqqqlam1ahpso341dj19cn6ae</string>
	<key>API_KEY</key>
	<string>AIzaSyCUo9gkWsl9_NjsvRIijLcwtrXqfvKbMt4</string>
	<key>GCM_SENDER_ID</key>
	<string>502307153628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tradlibre</string>
	<key>PROJECT_ID</key>
	<string>tradlibre-notification</string>
	<key>STORAGE_BUCKET</key>
	<string>tradlibre-notification.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502307153628:ios:86e2e6d5cfc5a085773619</string>
</dict>
</plist>